*.iml
.gradle
.idea/**
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

#VeridiumProjects
app/release
analytics/build
biometricsupport/build
core/build
defaultdata/build
fourfdefaultui/build
fourfimaging/build
fourfnative/build
sdk/build
veridium-licensing/build
veridium-sdk/veridium-fourf-authenticator-ui/veridium-fourf-authenticator-ui
veridium-sdk/veridium-fourf-authenticator-ui/veridium-fourf-authenticator-ui/build

#Google Services
app/google-services.json
